@model List<TestOnlineQuestion.ViewModels.QuestionDTO>

@{
    ViewBag.Title = "Contest Results";
    Layout = null;
}

<h2>Danh sách đáp án</h2>

@foreach (var question in Model)
{
    <h3>@question.QuestionText</h3>

    <p>Answer 1: @Html.DisplayFor(model => question.Answer1)</p>
    <p>Answer 2: @Html.DisplayFor(model => question.Answer2)</p>
    <p>Answer 3: @Html.DisplayFor(model => question.Answer3)</p>
    <p>Answer 4: @Html.DisplayFor(model => question.Answer4)</p>

    <p>Đáp án của bạn: Answer @(question.SelectedAnswer + 1)</p>

    <p>Đáp án đúng là:Answer  @(question.CorrectAnswer + 1)</p>

    if (question.SelectedAnswer == question.CorrectAnswer)
    {
        <p>Câu trả lời chính xác.</p>
    }
    else
    {
        <p>Câu trả lời chưa chính xác. Đáp án đúng là: Answer  @(question.CorrectAnswer + 1)</p>
    }

    <hr />
}
