@model TestOnlineQuestion.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin Login</h2>

<h2>Đăng nhập</h2>

@using (Html.BeginForm("AdLogin", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Id, "Tên đăng nhập", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, "Mật khẩu", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "Password", name = "Password", autocomplete = "current-password" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label>
                <input type="checkbox" id="ShowPassword"> Hiển thị mật khẩu
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Đăng nhập" class="btn btn-primary" />
        </div>
    </div>
}

<div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    $(document).ready(function () {
        $("#ShowPassword").change(function () {
            var passwordInput = $("#Password");
            if ($(this).is(":checked")) {
                passwordInput.attr("type", "text");
            } else {
                passwordInput.attr("type", "password");
            }
        });
    });
</script>


